html, body {
    margin: 0px;
    padding: 0px;
}

main {
    display: grid;
    background-color: hsl(180, 65%, 81%);
    margin: 0px;
    padding: 0px;
}

header {
    display: grid;
    background-color: hsl(180, 65%, 78%);
    }

nav {
        background-color: #a2ebeb;
        grid-template-columns: 4fr 1fr;
        display: flex;
        justify-content: space-between;
    }
    
.logo {
        grid-column: 1 / span 1;
    }
    
.other-two {
        grid-column: 2 / span 1;
    }
    
button {
        background: none;
        border: none;
        padding: 0;
        grid-row: 1 / span 1;
    }

.game-overview {
        grid-column: 1 / span 10;
        grid-row: 1 / span 1;
        text-align: center;
        padding: 40px;
    }
    
h3 {
        font-weight: normal;
    }

img {
        height: 500px;
        max-height: 500px;
        object-fit: contain;
    }


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
}

/* iri nova past this point */

.iri-name {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
}

.iri-nova {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.in-para {
    grid-column: 2 / span 3;
    grid-row: 3 / span 1;
    padding: 40px;
}

.in-song {
    grid-column: 6 / span 5;
    grid-row: 3 / span 2;
}

.iri-name a:hover {
    color: palevioletred;
}

/* arlo */

.arlo-name {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
    text-align: center; 
}

.arlo {
    grid-column: 6 / span 1;
    grid-row: 5 / span 1;
}

.a-para {
    grid-column: 2 / span 3;
    grid-row: 5 / span 1;
    padding: 40px;
}

.a-song {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}

.arlo-name a:hover {
    color: rgb(25, 122, 87);
}

/* aska */

.aska-name {
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
    text-align: center;
}

.aska {
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;

}

.as-para {
    grid-column: 2 / span 3;
    grid-row: 7 / span 1;
    padding: 40px;
}

.as-song {
    grid-column: 6 / span 5;
    grid-row: 7 / span 1;
}

.aska-name a:hover {
    color: grey;
}

@media screen and (max-width: 800px) {
    nav {
        display: none;
    }

    .game-overview {
        text-align: center;
        grid-column: 1 / span 2;
    }

    .iri-name {
        grid-column: 1 / span 2;
    }

    .iri-nova {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    .in-para {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-right: 10px;
    }

    .in-song {
        display: none;
    }

    .arlo-name {
        grid-column: 1 / span 2;
        grid-row: 4 / span 1;
    }

    .arlo {
        grid-column: 1 / span 1;
    }

    .a-song {
        display: none;
    }

    .a-para {
        grid-column: 2 / span 1;
        grid-row: 5 / span 1;
        padding: 0px;
        padding-left: 10px;
    }

    .aska-name {
        grid-column: 1 / span 2;
        grid-row: 6 / span 1;
    }

    .as-song {
        display: none;
    }

    .aska {
        grid-column: 2 / span 1;
        grid-row: 7 / span 1;
    }

    .as-para {
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-right: 10px;
    }
}